
.text {
    color: var(--primery-text-color)
}

.peculiarities {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
            }
                 @media screen and (min-width: 1200px) {
                     display: flex;
                     margin: -15px;
                    flex-wrap: nowrap;
                 }
}

.peculiarities__item {
    
    @media screen and (min-width: 768px) {
            max-width: 354px;
            margin: 15px;
            flex-basis: calc((100% - 2 * 30px) / 2);
            
    }
        @media screen and (min-width: 1200px) {
            max-width: 270px;
            margin: 15px;
        }
}

.peculiarities__vector {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background: rgba(245, 244, 250, 1);
    border-radius: 4px;
    margin-bottom: 30px;
}

.peculiarities__title {
    color: var(--title-text-color);

    font-weight: 700;
    font-style: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    

    @media screen and (max-width: 767px) {
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.14;
        margin-bottom: 10px;
    }

}

.peculiarities__text {
    color: var(--primery-text-color)
}