
.text {
    color: var(--primery-text-color)
}

.peculiarities {
        @media screen and (min-width: 768px) {
            //display: flex;
            margin: -30px;
            }
                 @media screen and (min-width: 1200px) {
                     //display: flex;
                     margin: -15px;
                 }
}

.peculiarities__item {
    //width: 270px;
    //margin: 15px;
    
    @media screen and (min-width: 768px) {
            width: 354px;
            margin: 30px;
            //display: flex;
            margin: -30px;
    }
        @media screen and (min-width: 1200px) {
            width: 270px;
            margin: 15;
        }
}

.peculiarities__vector {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background: rgba(245, 244, 250, 1);
    border-radius: 4px;
    margin-bottom: 30px;
}

.peculiarities__title {
    color: var(--title-text-color);

    font-weight: 700;
    font-style: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    

    @media screen and (max-width: 767px) {
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.14;
        margin-bottom: 10px;
    }

}

.peculiarities__text {
    color: var(--primery-text-color)
}